.settings/
.idea/
.springBeans
logs/
target/
venv/
testing/
.DS_Store
.project
.classpath*
Untitled*
*.retry
*.orig
app.pid
Jenkinsfile.java
localfiles/
*.pem
nb-configuration.xml
nbactions.xml
src/main/webapp/

